/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  color-scheme: light;
}

.p-paginator {
  border: none !important;
  padding: 10px 0 0 0 !important;
}

p-table {
  @apply block p-4 rounded-md bg-white;
}